header{
    background-image: url("../image/Hero-bg.png");
    height: 550px;
    margin: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 90px;
    padding-top: 20px;
    

}
nav h1{
    color: #4E47FF;
    font-size: bold;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
nav button{
    background-color: #4E47FF;
    font-size: bold;
    color: white;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.banner button{
    background-color: #4E47FF;
    color: white;
    height: 38px;
    width: 138px;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.banner{
    text-align: center;
    margin-top: 170px;
}
.banner h1{
    color: #252432;
    font-size: 50px;
    height: 110px;
    width: 620px;
    margin-left: 25%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800, bold;
    font-style: normal;  
}
.action-section{
    display: flex;
    justify-content: space-between;
    margin:90px 120px;
    padding: 20px 30px;
}
.action-btn{
    background-color: #4E47FF;
    color: white;
    height: 38px;
    width: 160px;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.action-h1{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700, bold;
    font-style: normal;
}
.action-p{
    height: 60px;
    width: 420px;
    font-size: 22px;
    color: #2524327c;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.action-description{
    width: 300px;
}
.action-img img{
    border-radius: 15%;
    height: 260px;
}
.main-section{
    margin:90px 120px;
    height: 260px;
    background-color: #4d47ff2a;
    border-radius: 15px;
}
#user-head{
    height: 250px;
    background-color: #4d47ff2a;
    text-align: center;
    font-size: 22px;
    margin:30px 120px;
    padding-top: 4px;
    border-radius: 15px;
    
}
#user-head h2{
    font-size: 35px;
    height: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-section{
    display: flex;
}
.section p{
    color: #0000006e;
}
.section h1{
    color: #4E47FF;
    height: 30px;
    padding: 0 110px;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600,bold;
    font-style: normal;
}
footer h1{
    color: #4E47FF;
    margin-top: 60px;
    margin-left: 36%;
    height: 60px;
    width: 160px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 90px;
    font-weight: 900,bold;
    font-style: normal;
}
footer{
    text-align: center;
    margin:90px 120px;
    padding: 20px 30px;
}

footer a{
    text-decoration: none;
    padding: 30px;
    color: #8987A1;
}
footer p{
    width: 370px;
    height: 40px;
    margin-left: 28%;
    color: #8987A1;
}

.touch-section{
    
    justify-content: space-between;
    margin:90px 120px;
    padding: 20px 30px;
}

